<div class="d-flex justify-content-center align-items-center">
  <div class="card" style="text-align: center; max-width: 60%; padding: 3rem">
    <h1 class="card-title">Add an admin</h1>
    <img
      [src]="url ? url : '../../assets/images/anonymous.png'"
      width="150rem"
      class="mx-auto d-block rounded"
    />
    <div class="card-content" style="margin-top: 3rem">
      <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
        <div class="mb-3">
          <input
            #fileInput
            class="form-control"
            type="file"
            (change)="onSelectFile($event)"
            style="display: none"
          />
          <a class="img-in" (click)="fileInput.click()">Upload a picture</a>
          <fa-icon
            [icon]="faTrashCan"
            class="del-ico"
            (click)="cancelPhoto()"
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            placeholder="Username"
            type="text"
            class="form-control"
            name="username"
            required
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            placeholder="First Name"
            type="text"
            class="form-control"
            name="fname"
            required
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            placeholder="Last Name"
            type="text"
            class="form-control"
            name="lname"
            required
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            type="password"
            class="form-control"
            name="confirmPassword"
            placeholder="Confirm Password"
            required
          />
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
