.navbar-custom {
  background-color: #ff8343;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: white;
}

.active {
  font-weight: 500;
}

.uname {
  color: white;
  font-size: 2.3rem;
  a {
    font-size: 2.3rem;
  }
}
