<div class="row" style="margin-top: 4rem">
  <div class="col-12 col-md-6">
    <div style="text-align: center">
      <h1 class="title">Welcome to our to do list app</h1>
    </div>
    <p>
      This app is intended to be as simple as possible. Once you create an
      account, you will be able to access and edit your to do lists in matter of
      clicks.
    </p>
    <div class="row" style="text-align: center; margin-top: 4rem">
      <div class="col-6">
        <a href="" class="btn btn-lg btn-danger"> Sign up</a>
      </div>
      <div class="col-6">
        <a href="" class="btn btn-lg btn-danger"> Sign in</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6" style="text-align: center; margin-top: 2rem">
    <img src="../../assets/images/homepage.png" width="40%" height="auto" />
  </div>
</div>
