<div
  class="d-flex justify-content-center align-items-center"
  *ngIf="user$ | async as user; else loading"
>
  <div class="card" style="text-align: center; max-width: 60%; padding: 3rem">
    <img
      src="../../assets/images/homepage.png"
      width="20%"
      class="mx-auto d-block"
    />
    <h1 class="card-title">Edit your account</h1>
    <div class="card-content" style="margin-top: 3rem">
      <form
        #myform="ngForm"
        (ngSubmit)="onSubmit(myform)"
        style="margin-bottom: 3rem"
      >
        <div class="mb-3">
          <input
            [(ngModel)]="user.username"
            placeholder="Username"
            type="text"
            class="form-control"
            name="username"
            value="{{ user.username }}"
            required
          />
        </div>
        <div class="mb-3">
          <input
            [(ngModel)]="user.fullName.split(' ')[0]"
            placeholder="First Name"
            type="text"
            class="form-control"
            name="fname"
            required
          />
        </div>
        <div class="mb-3">
          <input
            [(ngModel)]="user.fullName.split(' ')[1]"
            placeholder="Last Name"
            type="text"
            class="form-control"
            name="lname"
            required
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
        </div>
        <div class="mb-3">
          <input
            ngModel
            type="password"
            class="form-control"
            name="confirmPassword"
            placeholder="Confirm Password"
          />
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
      </form>
      <a (click)="OnDeleteAccount()" class="btn btn-danger"
        >Delete my account</a
      >
    </div>
  </div>
</div>
<ng-template #loading>Loading Account info...</ng-template>
